{% extends 'base.html.twig' %}

{% block title %}Nos services{% endblock %}

{% block body %}
<div>
    
    {% if services is empty %}
        <p class="text-center">Page en cours</p>
    {% else %}
    <div class="container">
        <div class="row">
            {% for service in services %}
            <div class="container text-center nosServices">
                <div class=" row service">
                    <div class="">
                        <img  alt ='' class="col m-3 imgService" src="{{asset('upload/img_service_mecanique.png')}}" style='max-widht 400px, max-height: 400px'>
                    </div>
                    <div class=" col text-wrap firstService">
                        <h2>{{service.title}}</h2>
                        <p>{{service.description}}</p>
                    </div>
                </div>
            </div>
                </div>
                </div>
            {% endfor %}
        </div>
    </div>
        {% endif %}
</div>
{% endblock %}
