{% extends 'base.html.twig' %}

{% block title %}Nos services{% endblock %}

{% block body %}
<div>
    
    {% if services is empty %}
        <p class="text-center">Page en cours</p>
    {% else %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb p-3 bg-body-tertiary rounded-3">
            <li class="breadcrumb-item"><a href="{{ path('app_accueil') }}">Accueil</a></li>
            <li class="breadcrumb-item active" aria-current="page">Nos services</a></li>
        </ol>
    </nav>
    <div class="container">
        <div class="row">
            {% for service in services %}
            <div class="container text-center nosServices">
                <div class=" row service">
                    <div class="">
                        <img  alt ='' class="col m-3 imgService" src="{{asset('/upload/' ~ service.pathImage)}}" >
                    </div>
                    <div class=" col text-wrap">
                        <h2>{{service.title}}</h2>
                        <p>{{service.description}}</p>
                    </div>
                </div>
            </div>
                </div>
                </div>
            {% endfor %}
        </div>
    </div>
        {% endif %}
</div>
{% endblock %}
