{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<div class="w-50 m-auto">
  <h1 class='text-center'>Mise à jour des coordonnées</h1>
    {{form_start(form)}}
      {{form_widget(form)}}
      <button type="submit" class="button">Envoyer</button>
    {{form_end(form)}}
</div>
{% endblock %}