{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<div class="w-50 m-auto">
  <h1 class='text-center'>Créer un service</h1>
    {{form_start(form)}}
      {{form_widget(form)}}
      <button type="submit" class="button">Envoyer</button>
      <a href="path{{'app_services_show'}}" class="button">Retour</a>
    {{form_end(form)}}
</div>
{% endblock %}