{% extends 'base.html.twig' %}

{% block title %}Votre avis{% endblock %}

{% block body %}
{%  if allComments is empty %}
    <p class='text-center'> Il n'y a pas d'avis.</p>
    {% else %}
    <div class="list-group">
    {% for comment in allComments %}
        <article class="blog-post">
            <h2 class="blog-post-title">Les avis</h2>
            <p class="blog-post-meta">Posté le {{comment.isCreatedAt|date("d-m-Y ")}} par {{comment.name}} </p>
            <p>{{comment.comments}}</p>
            <p>Note: {{comment.rating}}</p>
            <hr>
    {% endfor %}
        </article>
{% endif %}
{% endblock %}
